<div class="container">
  <div id="banner">
    <img src="https://picsum.photos/1296/600" class="img-fluid" alt="...">
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-4">
      <div id="main" class="card my-3">
        <div class="card-body">
          <h1><%= @flat.name %></h1>
          <p><%= @flat.address %></p>
        </div>
      </div>
      <div id="about" class="card my-3">
        <div class="card-body">
          <h2>About this flat</h2>
          <p><%= @flat.description %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-4">
      <div id="booking" class="card my-3">
        <div class="card-body">
          <h3>Book This Place</h3>
          <form action="">
            <div class="mb-3">
              <label for="startDate" class="form-label">From</label>
              <input type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label for="endDate" class="form-label">To</label>
              <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
       <div id="details" class="card my-3">
        <div class="card-body">
          <h2>Details</h2>
          <div class="d-flex">
            <span class="me-3"><i class="fa-solid fa-user-group me-2"></i><%= @flat.number_of_guests %></span>
            <span><i class="fa-solid fa-dollar-sign me-2"></i><%= @flat.price_per_night %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
