<div class="container">
  <div id="main" class="my-3">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
  </div>
  <div id="about" class="my-3">
    <h2>About this flat</h2>
    <p><%= @flat.description %></p>
  </div>
  <div id="details" class="my-3">
    <h2>Details</h2>
    <div class="d-flex">
      <span class="me-3"><i class="fa-solid fa-user-group me-2"></i><%= @flat.number_of_guests %></span>
      <span><i class="fa-solid fa-dollar-sign me-2"></i><%= @flat.price_per_night %></span>
    </div>
  </div>
</div>
